/*--------------------
	RESET
--------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 150%;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/*--------------------
	GLOBAL TYPOGRAPHY
--------------------*/

body {
	font: 12px/18px "Calibri", "Myriad pro", sans-serif;
	color: #333;
}

p {
	clear: left;
	margin: 0 0 20px 0;
}

h2 {
	font-size: 32px;
	font-weight: bold;
	color: #f30;
	margin-top: 84px;
	}
	h2 small {
		font-size: 18px;
		font-weight: normal;
		line-height: 36px;
		color: #333;
		display: block;
	}

h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	clear: left;
}

a {
	color: #f30;
}

#right img {
	padding: 5px;
	background: #fff;
	border: 1px solid #ddd;
	border-right: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	float: left;
	margin: 0 10px 20px 0;
	vertical-align: bottom;
	border-radius: 4px;
	}
	a:hover img {
		border-color: #f30;
		border-width: 1px;
		margin-right: 11px;
	}

/*--------------------
	STRUCTURE
--------------------*/

body {
	background: #fafaf7 url("images/bg.jpg") no-repeat top center;
}

#pagewrap {
	width: 800px;
	height: 600px;
	margin: 100px auto 0 auto;
}

#left {
	width: 400px;
	height: 600px;
	float: left;
	}
	#left ul#navigation {
		width: 234px;
		height: 220px;
		margin: 330px 63px 50px 63px;
		text-align: right;
		padding: 0 20px;
	}

#right {
	width: 400px;
	height: 600px;
	float: right;
	overflow: hidden;
	}
	#right #container {
		margin: 20px;
		width: 340px;
		height: 540px;
		overflow: hidden;
	}
	#right ul#content {
		
		width: 340px;
		height: 540px;
		position: relative;
		}
		#right ul#content li#about, #right ul#content li#work, #right ul#content li#social, #right ul#content li#contact {
			width: 320px;
			min-height: 520px;
			padding: 20px;
		}


/*--------------------
	NAVIGATION
--------------------*/

ul#navigation li a {
	font: bold 28px sans-serif;
	color: #fff;
	line-height: 54px;
	text-decoration: none;
	text-shadow: 0 2px 0 #000;
	display: block;
	}

.about {
	background: url("images/icon-about.png") no-repeat right 18px;
	padding-right: 40px;
}

.work {
	background: url("images/icon-work.png") no-repeat right 18px;
	padding-right: 40px;
}

.social {
	background: url("images/icon-social.png") no-repeat right 18px;
	padding-right: 40px;
}

.contact {
	background: url("images/icon-contact.png") no-repeat right 18px;
	padding-right: 40px;
}

/*--------------------
	CONTENT - ABOUT ME
--------------------*/

li#about {
	background: url("images/iconbg-about.png") no-repeat 154px 385px;
}

#about ul {
	font-size: 14px;
	list-style: url("images/bullet.png");
	list-style-position: inside;
	}
	#about ul li {
		margin: 5px 0;
		text-indent: 8px;
	}

/*--------------------
	CONTENT - WORK
--------------------*/

li#work {
	background: url("images/iconbg-work.png") no-repeat 154px 385px;
}

/*--------------------
	CONTENT - SOCIAL
--------------------*/

li#social {
	background: url("images/iconbg-social.png") no-repeat 154px 385px;
}

#tweet {
	background: url("images/twitter.png") no-repeat;
	background-position: 272px 12px;
	font: italic 14px Georgia, serif;
	padding: 8px 8px;
	margin-bottom: 0;
	}
	#tweet p.tweet-text {
		width: 260px;
		min-height: 60px; 
		margin-bottom: 5px;
		text-align: center;
	}
	#tweet p.tweet-meta {
		font: 12px "Calibri", "Myriad Pro", sans-serif;
		color: #555;
		display: block;
		text-align: right;
	}

#social li a {
	font-size: 28px;
	font-weight: bold;
	color: #555;
	text-decoration: none;
	display: block;
	float: left;
	width: 240px;
	height: 48px;
	padding-left: 58px;
	padding-top: 16px;
	margin-left: 20px;
	margin-bottom: 15px;
	}
	#social ul li a:hover {
		color: #f30;
	}

.facebook a {
	background: url("images/facebook.png") no-repeat center left;
}

.linkedin a {
	background: url("images/linkedin.png") no-repeat center left;
}

.flickr a {
	background: url("images/twitter.png") no-repeat center left;
}

.rss a {
	background: url("images/rss.png") no-repeat center left;
}

.delicious a {
	background: url("images/delicious.png") no-repeat center left;
}


.google a {
	background: url("images/googleplus.png") no-repeat center left;
}


/*--------------------
	CONTENT - CONTACT
--------------------*/

li#contact {
	background: url("images/iconbg-contact.png") no-repeat 154px 385px;
}

#contact ul li.msgname {
	float: left;
	margin-right: 10px;
}

#contact h3 {
	margin-top: 32px;
}

label {
	display: block;
}

input {
	margin-bottom: 10px;
	width: 142px;
	}
	input.send {
		display: block;
		width: 80px;
		float: left;
		margin: 10px 0 40px 0;
	}

textarea {
	overflow: auto;
	width: 300px;
}

#contact small { font-size: 90%; }

.hidden { display: none; }
.error { color: #900; }

#contactinfo {
	padding-left: 48px;
	background: url("images/icon-contactinfo.png") no-repeat 10px 73px;
	}
	#contactinfo p {
		margin: 10px 0;
	}
	#contactinfo .phone, #contactinfo .email {
		font-size: 18px;
	}
